localhost:443 {

	handle /fe/* {
		uri strip_prefix /fe
		file_server
		root * ./admin/dist/
	}

	handle {
		reverse_proxy * {
	        to localhost:8787
	        # to localhost:8787 localhost:8788 localhost:8789 localhost:8790 localhost:8791
	        lb_policy round_robin
    	}
	}

}