localhost:443 {
	handle /fe/* {
		uri strip_prefix /fe
		file_server
		root * ./admin/dist/
	}

	handle {
		reverse_proxy * {
			to localhost:50001
			# to localhost:50001 localhost:50002
			lb_policy round_robin
		}
	}
}
